*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: white;
}

header h1{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    margin: 14px 0px 0px
}

header img{
    margin: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 240, 240);
}

main{
    background-color: white;
    width: 910px;
    height: 620px;
    margin: 50px auto;
    border-radius: 8px;
}

#toolbar{
    width: 800px;
    margin: 0px auto;
}

.button{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding: 8px 11px;
    border: 0px;
    border-radius: 4px;
}
#pressed{
    background-color: #00cdfe;
    color: white;
}

#unpressed{
    padding: 7px 10px;
    background-color: white;
    color: grey;
    border: solid 1px grey;
}

hr{
    margin-top: 10px;
    border: solid 2px rgb(224, 224, 224);
}

#list{
    width: 800px;
    margin: 0px auto;
}

#list section{
    margin-top: 40px;
}

#list h2{
    font-weight: bold;
}

#list li{
    font-size: 17px;
    list-style-type: none;
    margin-left: 40px;
    line-height: 3;
}

.done::before{
    content: '\2714';
    color: lightgreen;
    margin-right: 20px;
    padding: 3px 6px;
    border: solid 3px lightgreen;
    border-radius: 50%;
}